spring:
  application:
    name: library

datasource:
  url: jdbc:postgresql://postgresql:5432/${DB_NAME}
  username: ${DB_USER}
  password: ${DB_PASSWORD}
  driver-class-name: org.postgresql.Driver

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
    dialect: org.hibernate.dialect.PostgreSQLDialect